<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/Resources/bootstrap.js"></script>
    <script src="../javascripts/Resources/angular.min.js"></script>
    <script src="../javascripts/Resources/bootstrap-material-design.js"></script>
    <script src="../javascripts/Resources/bootstrap-material-design.js.map"></script>
    <script src="../javascripts/index.js"></script>
    <link href="../stylesheets/bootstrap-grid.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap-material-design.css" rel="stylesheet">
</head>

<body>
    <div ng-controller="myCtrl">   
    <ul class="nav nav-tabs bg-light">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
      </li>
    </ul>

    <div ng-view></div>
    </div>
</body>

</html>