<link href="../stylesheets/myAcount.css" rel="stylesheet">
<div dir="rtl">
    <div class="row">
        <div id="AcountPic">
            <img src="../images/userPic.png" class="img-rounded">
        </div>
        <div id="detalis">
            <p style="font-size: 30px;">נועם ברדה</p>
            <p>שחקנית</p>
            <p>גיל: 26</p>
            <p>למדתי משחק והשתתפתי בתפוזים</p>
        </div>
    </div>
    <div id="buttons">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">תמונות</a>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">שיתופי פעולה</a>
    </div>
</div>