<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <script src="../javascripts/Resources/bootstrap.js"></script>
    <script src="../javascripts/search.js"></script>
    <link href="../stylesheets/bootstrap-grid.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <div dir="rtl">
        <h1 class="title text-center">חיפוש מתקדם</h1>

        <div class="row">
            <div class="form-group">
                <select>
    <option>סנן לפי תחום</option>
    <option>צלם</option>
    <option>סוכן</option>
    <option>מוזיקאי</option>
    <option>צייר</option>
    <option>שחקן</option>
    <option>פסל</option>
</select>
                <input type="text" placeholder="חפש כאן...">
                <button type="button">חפש</button>
            </div>
        </div>
    </div>
</body>

</html>