<link href="../stylesheets/Search.css" rel="stylesheet">
<div dir="rtl">
    <h1 class="title text-center">חיפוש מתקדם</h1>
    <div class="form-row align-items-center">
        <center>
            <form class="form-inline">
                <div>
                    <select class="form-control Search">
                            <option>סנן לפי תחום</option>
                            <option ng-repeat="type in artistTypes">{{type.displayName}}</option>
                    </select>
                </div>
                <div>
                    <input class="btn btn-default form-control Search" type="text" placeholder="חפש כאן...">
                </div>
                <div>
                    <input class="btn btn-default form-control Search" type="button" value="חפש">
                </div>
            </form>
        </center>
    </div>
</div>