body {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.title {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #9575CD;
}

#userPic {
    padding-left: 60px;
    padding-top: 40px;
}

#buttons {
    text-align: center;
<<<<<<< HEAD
    font-family: Guttman Haim;
    margin: 3px;
=======
    padding-top: 30px;
>>>>>>> d86ea5d070d114bad272cbe8aa43559d595f6e52
}

#imgSrc {
     padding-top: 20px;
    padding-right: 40px;
}

<<<<<<< HEAD
.Search {
    text-align: center;
    font-family: Guttman Haim;
    margin: 3px;
    border-style: solid;
    border-width: thick;
    border-color: gainsboro;
}

.Icon {
    width: 10%;
    height: 10%;
}

li {
    list-style-type: none;
=======
#userDitels {
    padding-top: 30px;
>>>>>>> d86ea5d070d114bad272cbe8aa43559d595f6e52
}