body {
    text-align: center;
}

.Search {
    text-align: center;
    font-family: Guttman Haim;
    margin: 3px;
    border-style: solid;
    border-width: thick;
    border-color: gainsboro;
}

.panel-default{
    background-color: rgb(213, 216, 217);
    height: 700px;
}

button{
    background-color: white;
}

